.navigation-bar {
    position: fixed !important;
    width: 100% !important;
    z-index: 999999 !important;
    top: 0;
    .avatar {
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        border-radius: 50%;
        display: inline-block;
        background: lightgrey no-repeat center/cover;
        position: relative;
        text-align: center;
        color: lightgrey;
        font-weight: 600;
        vertical-align: bottom;
        font-size: .875rem;
        user-select: none;
    
        i {
            font-size: 125%;
            vertical-align: sub;
        }
    }
    .nav-link {
		border: 0;
		color: inherit;
		border-bottom: 1px solid transparent;
		margin-bottom: -1px;
		transition: .3s border-color;
		font-weight: 400;
		padding: 1rem 0;

		&:hover:not(.disabled) {
			border-color:darkgrey;
			color: darkgrey;
		}

		&.active {
			border-color: turquoise;
			color: turquoise;
			background: transparent;
		}

		&.disabled {
			opacity: .4;
			cursor: default;
			pointer-events: none;
		}
    }
    .leading-none	{ line-height: 1 !important; }
}