.page-loading {
    position: absolute;
    opacity: 0.1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
    svg {
        width: 100px;
        height: 100px;
    }
}